version: '3'
services:

  node_js_clean_archi_api:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
    depends_on:
      - mongo_db_service
    restart: on-failure

  mongo_db_service:
    image: mongo
    ports:
      - '27017:27017'
    volumes:
      - dbdata:/data/db

volumes:
  dbdata: